.our-story {
  position: relative;
  padding: 0 0 50px;
  background-position: bottom;
  background-size: cover;
  overflow-x: hidden;
  font-family: 'Muli', sans-serif;
  color: #000;

  * {
    box-sizing: border-box;
  }

  .container {
    width: 100%;
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;

    @include lg {
      max-width: 960px;
    }
    @include lgMax {
      padding-right: 50px;
      padding-left: 50px;
    }

    @include xl {
      max-width: 1450px;
      padding-left: 100px;
      padding-right: 100px;
    }
  }

  .container__inner {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }

  .our-story__head {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;

    @include md {
      flex-wrap: nowrap;
      flex-direction: row;
    }

    .head__logo {
      text-align: center;
      margin-top: 5px;

      img {
        max-width: 100%;
      }

      @include md {
        flex: none;
        width: 115px;
        margin-right: 70px;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .content-w {
      display: flex;
      flex-direction: column;
      margin-top: 16px;
      text-align: center;

      h1 {
        font-size: 28px;
        line-height: 1.2;
        font-weight: 600;
        margin-bottom: 40px;
        margin-top: 0;
      }

      p {
        line-height: 1.5;
        margin-bottom: .7em;
        font-size: 18px;
      }

      @include md {
        text-align: left;

        h1 {
          line-height: 1.2;
          font-size: 50px;
        }

      }
    }
  }

  .our-story__blocks {
    display: flex;
    flex-direction: column;

    @include lg {
      flex-direction: row;
      justify-content: center;
    }

    .item {
      display: flex;
      flex-direction: column;
      flex: 0 0 100%;
      align-items: center;
      padding: 20px 25px;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.19);
      margin: 20px 0 0;
      text-align: center;
      border-radius: 6px;

      .item__icon {
        font-size: 85px;
        line-height: 1;

        img {
          max-height: 135px;
        }
      }

      h2 {
        font-family: "Gotham Bold", sans-serif;
        margin-top: 30px;
        margin-bottom: 15px;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.5;
      }

      p {
        font-size: 18px;
        line-height: 1.3;
        margin-top: .7em;
        margin-bottom: .7em;
      }

      @include md {
        margin-top: 40px;
      }

      @include lg {
        flex: 0 0 calc(50% - 15px);
        width: calc(50% - 15px);
        margin: 20px 15px 0;
      }
    }
  }


  .our-story__timeline {
    margin-top: 100px;

    .timeline__head {
      display: flex;
      justify-content: center;
      position: relative;
      width: 170px;
      margin: 0 auto;
      height: 170px;

      & > div {
        width: 156px;
        height: 156px;
        border: 2px dotted #FFE32F;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        border-radius: 50%;

        & > div {
          width: 86px;
          height: 86px;
          background: #FFE32F;
          border-radius: 50%;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          color: #fff;
        }
      }
    }

    .timeline__body {
      margin-top: -150px;
      .timeline__year {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        min-height: 240px;
        margin-top: 1rem;

        .year__image {
          -webkit-box-flex: 0;
          flex: 0 0 478px;
          text-align: center;
          display: -webkit-box;
          display: flex;
          -webkit-box-align: center;
          align-items: flex-end;
          -webkit-box-pack: center;
          justify-content: center;
          margin-bottom: -40px;

          img {
            max-width: 300px;
          }
          @include xlMax {
            flex: 0 0 300px;
            img {
              max-width: 300px !important;
            }
          }
        }

        .year__delimiter {
          position: relative;
          -webkit-box-flex: 0;
          flex: 0 0 60px;
          display: flex;
          justify-content: center;
          align-items: flex-end;

          span {
            font-family: "Gotham Bold", sans-serif;
            font-size: 20px;
            line-height: 22px;
            text-align: center;
            display: block;
          }

          &.with-yellow-head {
            span {
              position: absolute;
              top: 65%;
              right: -105%;
            }
            .yellow-timeline__head {
              position: relative;
              width: 170px;
              margin: 0 auto;
              height: 170px;

              & > div {
                width: 156px;
                height: 156px;
                border: 2px dotted #FFE32F;
                display: -webkit-box;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: center;
                justify-content: center;
                border-radius: 50%;

                & > div {
                  width: 86px;
                  height: 86px;
                  background: #FFE32F;
                  border-radius: 50%;
                  text-align: center;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-weight: bold;
                  color: #fff;
                }
              }
            }
            &:before {
              content: "";
              position: absolute;
              top: 10%;
              left: 50%;
              bottom: 38%;
              margin-left: -1px;
              border-left: 2px dashed #707070;
            }

            &:after {
              content: '';
              position: absolute;
              top: 9%;
              width: 25px;
              height: 25px;
              border-top: 2px solid #707070;
              border-left: 2px solid #707070;
              transform: rotate(45deg);
            }
          }
          &.before-with-yellow {
            &:before {
              top: 30%;
            }
            &:after {
              top: 29%;
            }
          }
          &:before {
            content: "";
            position: absolute;
            top: 10%;
            left: 50%;
            bottom: 18%;
            margin-left: -1px;
            border-left: 2px dashed #707070;
          }

          &:after {
            content: '';
            position: absolute;
            top: 9%;
            width: 25px;
            height: 25px;
            border-top: 2px solid #707070;
            border-left: 2px solid #707070;
            transform: rotate(45deg);
          }
        }

        .year__text {
          -webkit-box-flex: 0;
          flex: 0 0 478px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          margin-bottom: -70px;
          @include xlMax {
            flex: 0 0 300px;
          }
          div {
            padding: 26px;
            text-align: center;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.19);
            border-radius: 2rem;
          }

          h2 {
            font-family: "Gotham Bold", sans-serif;
            font-size: 20px;
            font-weight: 600;
            color: #000;
            margin-top: 0;
            margin-bottom: 0;
          }

          p {
            font-family: "Montserrat Regular", sans-serif;
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 0;
          }
        }

        &:last-child {
          margin-bottom: 50px;
        }
        &:nth-child(2) {
          .year__delimiter {
            &:before {
              top: -47%;
            }

            &:after {
              top: -48%;
            }
          }
        }
        &:nth-child(odd) {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: reverse;
          flex-direction: row-reverse;
        }

      }

    }

    .timeline__end {
      position: relative;
      width: 72px;
      margin: 0 auto;
      height: 72px;

      & > div {
        width: 72px;
        height: 72px;
        border: 2px dotted #000;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        border-radius: 50%;
        -webkit-animation-name: spin;
        animation-name: spin;
        -webkit-animation-duration: 60s;
        animation-duration: 60s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;

        & > div {
          width: 40px;
          height: 40px;
          background: #000;
          border-radius: 50%;
        }
      }
    }

    @media (max-width: 576px) {
      .timeline__body {

        .timeline__year.js-tl-year-content {
          .year__image {
            -webkit-box-flex: 0;
            flex: 0 0 100%;

            img {
              max-width: 180px;
            }

          }

          .year__delimiter {
            flex: 0 0 100%;
            display: flex;
            justify-content: center;
          }
        }

      }

      .timeline__years {
        margin-bottom: 40px
      }

    }

    @media (max-width: 1000px) {
      .timeline__end,
      .timeline__head {
        display: none;
      }

      .timeline__body {
        .timeline__year {
          /*display: none;*/
          flex-wrap: wrap;
          -webkit-transition: all .3s;
          transition: all .3s;
          display: flex;
          justify-content: center;

          &.active {
            display: -webkit-box;
            display: flex;

            &.plus {
              -webkit-animation: transformPlus .3s linear 0s forwards;
              animation: transformPlus .3s linear 0s forwards;
            }

            &.minus {
              -webkit-animation: transformMinus .3s linear 0s forwards;
              animation: transformMinus .3s linear 0s forwards;
            }
          }

          .year__image {
            -webkit-box-flex: 0;
            flex: 0 0 50%;
            margin-bottom: unset;
            display: none;
          }

          .year__text {
            margin-bottom: unset !important;
            -webkit-box-flex: 0;
            flex: 0 0 100%;
            text-align: center;
            margin-top: 30px;
          }

          .year__delimiter {
            /*display: none;*/
            flex: 0 0 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
              font-size: 30px;
            }

            &:before,
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
}
